.template
{
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
	margin-top:10px;
}
.template .one
{
	display:flex;
	flex-direction:column;
	background-color:black;
}
.template .one .box
{
	height:80px;
	width:80px;
	background-color:white;
	margin-top:10px;
	margin-bottom:10px;
	margin:0px auto;
	border-radius:100%;
	text-align:center;
}
.template .one .dark
{
	height:40px;
	width:150px;
	background-color:white;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.template .one .text
{
	height:30px;
	width:100px;
	background-color:white;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}

.template .two
{
	display:flex;
	flex-direction:column;
	background-color:white;
}
.template .two .dark
{
	height:30px;
	width:150px;
	background-color:gray;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.template .two .text
{
	height:100px;
	width:250px;
	background-color:gray;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.template .three
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	background-color:black;
}
.template .three .box
{
	height:100px;
	width:100px;
	background-color:white;
	border-radius:100%;
	margin:10px;
	text-align:center;
}
.template .four
{
	display:flex;
	flex-direction:column;
	background-color:white;
}
.template .four .dark
{
	height:30px;
	width:150px;
	background-color:gray;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.template .four .text
{
	height:100px;
	width:250px;
	background-color:gray;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
